<!DOCTYPE html>
<html>
	<head>
		<title>Inserir pessoas</title>
		<meta charset="utf-8">
	</head>
	<body>
		<p>Para retornar ao início: <a href="/">aqui</a></p>
		<p>Para mostrar a lista de pessoas: <a href="listar_pessoas">aqui</a></p>
		<p>Para ver a mensagem: <a href="exibir_mensagem">aqui</a></p>

		<form action="/cadastrar_pessoa">
			Nome: <input type="text" name="nome">
			Endereço: <input type="text" name="endereco">
			Telefone: <input type="text" name="telefone">
			<input type="submit" value="enviar">
		</form>
		
	</body>
</html>