<!DOCTYPE html>
<html>
	<head>
		<title>Alterar pessoas</title>
		<meta charset="utf-8">
	</head>
	<body>
		<a href="/logout">Logout</a>
		<p>Para retornar ao início: <a href="/">aqui</a></p>
		<p>Para mostrar a lista de pessoas: <a href="listar_pessoas">aqui</a></p>
		<p>Para ver a mensagem: <a href="exibir_mensagem">aqui</a></p>

		<form action="/alterar_pessoa">
			Nome: <input type="text" name="nome" value="{{informacao.nome}}">
			Endereço: <input type="text" name="endereco" value="{{informacao.endereco}}">
			CPF: <input type="text" name="cpf" value="{{informacao.cpf}}">
			Email: <input type="text" name="email" value="{{informacao.email}}">
			<input type="hidden" name="id" value="{{informacao.id}}">

			<button>Alterar</button>
		</form>
	</body>
</html>