<!DOCTYPE html>
	<html>
	<head>
		<title>lista de pessoas</title>
		<meta charset="utf-8">
	</head>
	<style>
		table, th, tr {
			width: 20%;
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			padding: 10px;
		}
	</style>
	<body>
		<table>
			<tr>
				<th name="nome">Nome</th>
				<th name="endereco">Endereço</th>
				<th name="cpf">CPF</th>
				<th name="inserir"><a href="/form_inserir_pessoa">inserir</a></th>
			</tr>
		{% for pessoa in lista: %}
			<tr>
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.endereco}}</td>
				<td>{{pessoa.cpf}}</td>
				<td><a href="/form_excluir_pessoa?cpf={{p.cpf}}">excluir</a></td>
				<td><a href="/form_alterar_pessoa">alterar</a></td>
			</tr>
		{% endfor %}
		</table>
	</body>
</html>
