<!DOCTYPE html>
<html>
	<head>
		<title>Lista de pessoas</title>
		<meta charset="utf-8">
	</head>
	<style>
		table, th, td {
			width: 50%; 
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			padding: 10px;
		}
	</style>
	<body>
		<p>Para retornar ao início: <a href="/">aqui</a></p>
		<form action="exibir_mensagem">
			<table>
				<tr>
					<th>Nome Completo</th>
					<th>Data de nascimento</th>
					<th>CPF</th>
				</tr>
				<tr>
					<td>Luana Chiodini</td>
					<td>08/11/2001</td>
					<td>12345678910</td>
					<td><a href="form_alterar_pessoa">alterar</a></td>
					<td><a href="form_excluir_pessoa">excluir</a></td>
					<td><a href="form_inserir_pessoa">incluir</a></td>
				</tr>
				<tr>
					<td>Nathalia Kanis</td>
					<td>27/03/2002</td>
					<td>98765432111</td>
					<td><a href="form_alterar_pessoa">alterar</td>
					<td><a href="form_excluir_pessoa">excluir</a></td>
					<td><a href="form_inserir_pessoa">incluir</a></td>
				</tr>
			</table>
			<input type="submit" value="Salvar" name="salvar">
		</form>
	</body>
</html>